absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.0
asgiref==3.8.1
astunparse==1.6.3
beautifulsoup4==4.12.3
blinker==1.8.2
blis==1.0.1
boto3==1.17.74
botocore==1.20.74
CacheControl==0.14.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cloudpathlib==0.19.0
confection==0.1.5
contourpy==1.3.1
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
distlib==0.3.8
distro==1.9.0
dj-database-url==2.2.0
Django==3.2.3
django-cleanup==8.1.0
django-localflavor==4.0
django-storages==1.11.1
dlib==19.24.6
easyocr==1.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
extruct==0.17.0
filelock==3.14.0
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2024.9.0
gast==0.6.0
gdown==5.2.0
geographiclib==1.52
geopy==2.0.0
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.70.0
grpcio-status==1.67.0
h11==0.14.0
h5py==3.12.1
html5lib==1.1
html_text==0.6.2
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
idna==3.10
imageio==2.36.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
jmespath==0.10.0
joblib==1.4.2
jsonify==0.5
jstyleson==0.0.2
keras==3.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
lxml==5.3.0
lxml_html_clean==0.2.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mf2py==2.0.1
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.1.0
murmurhash==1.0.10
namex==0.0.8
networkx==3.4.1
ninja==1.11.1.1
numpy==1.26.4
openai==1.51.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.1
preshed==3.0.9
proto-plus==1.24.0
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post5
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.1
PyJWT==2.9.0
PyMySQL==1.1.1
pyparsing==3.1.2
pyRdfa3==3.6.4
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-stdnum==1.20
pytz==2024.1
PyYAML==6.0.1
rdflib==7.0.0
recipe_scrapers==15.2.1
requests==2.32.3
rich==13.9.4
rsa==4.9
s3transfer==0.4.2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
shapely==2.0.6
shellingham==1.5.4
six==1.17.0
sklearn==0.0
smart-open==7.0.5
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.1
srsly==2.4.8
sympy==1.13.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
termcolor==2.5.0
tesseract==0.1.3
thinc==8.3.2
threadpoolctl==3.5.0
tifffile==2024.9.20
torch==2.5.0
torchvision==0.20.0
tqdm==4.66.5
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.3.0
virtualenv==20.26.1
w3lib==2.2.1
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==5.2.0
wrapt==1.17.2
